body {
    background: linear-gradient(to right, 
                rgba(0, 0, 0, .5) 5%, 
                rgba(0, 0, 0, .9) 40%, 
                rgba(0, 0, 0, 1) 100%), url("../img/baiturrahman1.jpg");
    height: 100%;
    background-size: cover;
    font-family: montserrat;
}

.logo {
    padding: 20px;
    margin-right: 20px;
    font-family: mohave;
}

.logo h1{
    font-size: 25px;
}

.moto h2{
    padding-top: 170px;
    margin-left: 50px;
    text-align: left;
    font-size: 50px;
}

.moto p{
    margin-left: 50px;
    font-size: 20px;
}

.btn{
    margin-left: 50px;
    color: #897853;
    background-color: #F8F4E1;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover{
    background-color: #897853;
    color: #F8F4E1;
}