body{
    font-family: montserrat;
}

/* Navbar Start */
.navbar{
    border-bottom: 3px solid #897853;
    padding-right: 30px;
}

.navbar .navbar-brand{
    padding-left: 30px;
    color: #897853;
    font-weight: semi bold;
    font-size: 30px;
    font-family: mohave;
}

.navbar .navbar-brand:hover{
    color: #4E3620;
}

.navbar .nav-item{
    margin-left: 30px;
}

.navbar .nav-link:hover{ 
    border-bottom: 2px solid #897853;
    margin-bottom: -2px;
}

/* #katass{
    border: 0;
}
.navbar .search-bar{
    border-bottom: 2px solid #897853;
} */

/* Navbar End */


/* Sidebar Start */
.offcanvas-start{
    background: #897853;
}

.offcanvas-body{
    background: #F8F4E1;
}

.offcanvas .profile{
    margin-top: 20px;
    margin-left: 20px;
}

.offcanvas .nama{
    margin-top: 20px;
    margin-left: 20px;
}

.offcanvas .surel{
    margin-top: -5px;
    margin-left: 23px;
}

.offcanvas-body .menu{
    border-bottom: 1.5px solid #897853;
    padding-top: 10px;
    padding-bottom: 10px;
}

.offcanvas-body .menus{
    color: #897853;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px
}

.offcanvas-body .menus:hover{
    background: #897853;
    color: white;
    border-radius: 2px;
}

.offcanvas-body .menus:active{
    background: #897853;
    color: white;
}

.keluar{
    float: right;
    color: #897853;
    margin-top: 100px;
    text-decoration: none;
}

.keluar:hover{
    color: #4E3620; 
}
/* Sidebar End */


/* Carousel Start */
.carousel-indicators{
    color: white;
}

.carousel-inner .carousel-item{
    height: 90vh;
    background-size: cover;
    
}

.carousel-item{
    Position:relative;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:linear-gradient( rgba(0, 0, 0, .2) 5%, rgba(0, 0, 0, .5) 40%, rgba(0, 0, 0, 1) 100%);
    overflow-x: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
}

.carousel-caption{
    margin-bottom: 50px;
    text-align: left;
    padding-left: 10px;
}

.carousel-caption h5{
    font-size: 35px;
    font-weight: semi bold;
}
/* Carousel End */


/* Menu Start */
section{
    padding-top: 80px;
    padding-bottom: 10px;
}

.container{
    padding-top: 45px;
    padding-bottom: 10px;
}

.card{
    border: solid 1px #897853;
    margin-bottom: 70px;
    padding-bottom: 20px;
}

.card-title{
    color: #897853;
    text-align: center;
    font-size: 29px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.card .row .more{
    color: #000000;
}

.card .row .more:hover{
    color: #897853;
}

.card-body img{
    width: 300px;
}

.card-body .card-text p{
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .card-body img{
        width: 500px;
        item-align: center;
    }
    .map-responsive{
        width: 400px;
    }
}
@media only screen and (max-width: 425px) {
    .card-body img{
        width: 500px;
        item-align: center;
    }
    .map-responsive{
        width: 350px;
        margin-left: 10px;
    }
}
@media only screen and (max-width: 1024px) {
    .card-body img{
        width: 500px;
        item-align: center;
    }
    .map-responsive{
        width: 550px;
        margin-left: 10px;
    }
}

/* Menu End */

/* Modal Start */
.modal-dialog{
    padding-top: 40px;
    padding-bottom: 40px;
}

.modal-content{
    border: solid 1px #897853;  
}

.modal-header{
    border-bottom: 2px solid #897853;
}

.modal-body p{
    text-align: justify;
}

.modal-footer{
    border-top: 2px solid #897853;
}
.modal-footer .tutup{
    background: #897853;
    color: #ffffff;
}

.modal-footer .tutup:hover{
    background: #4E3620;
}
/* Modal End */

#btn-back-to-top {
    background: #897853;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

#btn-back-to-top:hover{
    background: #4E3620;
}