{% extends 'base.html' %}
{% load static %}


        {% block styles %}
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'jak/css/konten.css' %}">
        <link rel="stylesheet" href="{% static 'jak/css/navside.css' %}">
        {% endblock styles %}
    
        <!-- Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

        {% block title %}
        <title>Kuliner | Jak-Aceh</title>
        {% endblock title %}

        
        {% block body %}
        
        {% include 'jak/snippet/navside.html' %}
        
        <!-- Menu Start -->
        <section class="bg-light pb-2">
            <div class="container">

                <!-- Menu1 Start-->
                    <div class="card shadow">
                        <div class="row p-2">
                            <h5 class="card-title text-start ms-4 mt-2 fw-bolder text-uppercase">RM AYAH (PLIEK U & KUAH BEULANGONG)</h5>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <img src="{% static 'jak/img/RMayah.jpg' %}" class="img-fluid rounded" alt="Masjid Raya Baiturrahman">
                                    <p class="card-text pt-4">
                                        Jl. Sultan Iskandar Muda, Punge Ujong, Kec. Meuraxa, Kota Banda Aceh, Aceh 23116
                                        <br> <b>Buka</b> : Setiap hari, 09.00–21.00
                                        <br> <b>Telp</b> : 08126913133
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.103100292199!2d95.30025821414755!3d5.55173143523766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304030b2c0fb18bd%3A0xa99de4fcaf91dace!2sRM%20Ayah%20(Pliek%20U%20%26%20Kuah%20Beulangong)!5e0!3m2!1sid!2sid!4v1653138083135!5m2!1sid!2sid" width="690" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                </iframe>
                            </div>
                        </div>
                    </div>
                <!-- Menu1 End -->
                

                <!-- Menu2 Start-->
                    <div class="card shadow">
                        <div class="row p-2">
                            <h5 class="card-title text-start ms-4 mt-2 fw-bolder text-uppercase">MIE MIDI PEUNITI</h5>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <img src="{% static 'jak/img/MieMidi.jpg' %}" class="img-fluid rounded" alt="MieMidi">
                                    <p class="card-text pt-4">
                                        Jl. Teuku Chik Di Tiro, Peuniti, Kec. Baiturrahman, Kota Banda Aceh, Aceh 23127
                                        <br><b>Buka</b> : Setiap hari, 10.00–01.00
                                        <br><b>Telp</b> : 085261372000
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.1084294310763!2d95.32103361383383!3d5.55094033524615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304037426750eaa5%3A0xc4e6933f7a7ce9b3!2sMie%20Midi%20Peuniti!5e0!3m2!1sid!2sid!4v1653138689774!5m2!1sid!2sid" width="690" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">\
                                </iframe>
                            </div>
                        </div>
                    </div>
                <!-- Menu2 End-->


                <!-- Menu3 Start-->
                    <div class="card shadow">
                        <div class="row p-2">
                            <h5 class="card-title text-start ms-4 mt-2 fw-bolder text-uppercase">WARUNG SATE MATANG YAKIN RASA</h5>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <img src="{% static 'jak/img/SateMatang.jpg' %}" class="img-fluid rounded" alt="Masjid Raya Baiturrahman">
                                    <p class="card-text pt-4">
                                        Jl. Sri Ratu Syafiatuddin, Peunayong, Kec. Kuta Alam, Kota Banda Aceh, Aceh
                                        <br><b>Buka</b> : Setiap hari, 10.00–00.00
                                        <br><b>Telp</b> : 081362624919
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.0644540392072!2d95.31753821383388!3d5.557465035182367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304037486b25ac71%3A0xceada3178e956235!2sWARUNG%20SATE%20MATANG%20YAKIN%20RASA!5e0!3m2!1sid!2sid!4v1653139779271!5m2!1sid!2sid" width="690" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                </iframe>
                            </div>
                        </div>
                    </div>
                <!-- Menu3 End -->

                
            </div>
        </section>
        <!-- Menu End -->
        {% endblock body %}
        

        {% block totop %}
        {% include 'jak/snippet/top.html' %}
        {% endblock totop %}