/* Navbar Start */
.navbar{
    border-bottom: 3px solid #897853;
    padding-right: 30px;
}

.navbar .navbar-brand{
    padding-left: 30px;
    color: #897853;
    font-weight: semi bold;
    font-size: 30px;
    font-family: mohave;
}

.navbar .navbar-brand:hover{
    color: #4E3620;
}

.navbar .nav-item{
    margin-left: 30px;
}

.navbar .nav-link:hover{ 
    border-bottom: 2px solid #897853;
    margin-bottom: -2px;
}

/* #katass{
    border: 0;
}
.navbar .search-bar{
    border-bottom: 2px solid #897853;
} */

/* Navbar End */


/* Sidebar Start */
.offcanvas-start{
    background: #897853;
}

.offcanvas-body{
    background: #F8F4E1;
}

.offcanvas .profile{
    margin-top: 20px;
    margin-left: 20px;
}

.offcanvas .nama{
    margin-top: 20px;
    margin-left: 20px;
}

.offcanvas .surel{
    margin-top: -5px;
    margin-left: 23px;
}

.offcanvas-body .menu{
    border-bottom: 1.5px solid #897853;
    padding-top: 10px;
    padding-bottom: 10px;
}

.offcanvas-body .menus{
    color: #897853;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px
}

.offcanvas-body .menus:hover{
    border-bottom: 2px solid #897853;
    margin-bottom: -2px;
}

.offcanvas-body .menus:active{
    background: #897853;
    color: white;
}

.keluar{
    float: right;
    color: #897853;
    margin-top: 100px;
    text-decoration: none;
}

.keluar:hover{
    color: #4E3620; 
}
/* Sidebar End */
